<h5 class="component-main-heading">
  <span class="material-icons text-color component-main-heading-icon"
    >group</span
  >All Users
</h5>
<br />

<div style="width: 80%; margin: auto">
  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="30">
      <mat-form-field>
        <mat-label>Search by name,email</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. Mia"
          #input
        />
      </mat-form-field>
    </div>
    <div fxFlex.gt-sm="70" style="text-align: right">
      <button mat-flat-button (click)="onAddUser()">
        <span class="material-icons">add</span> Add
      </button>
    </div>
  </div>
  <br />
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="select-column">
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="select-column">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="id-column">#</th>
        <td mat-cell *matCellDef="let row; let i = index" class="id-column">
          <span style="color: gray">{{ i + 1 }}</span>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>NAME</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email" style="background-color: aqua">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <!-- Age Column -->
      <ng-container matColumnDef="age" style="background-color: aqua">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="age-column"
        >
          AGE
        </th>
        <td mat-cell *matCellDef="let row" class="age-column">
          {{ row.age }}
        </td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ADDRESS</th>
        <td mat-cell *matCellDef="let row">{{ row.address }}</td>
      </ng-container>

      <!-- Password Column -->
      <ng-container matColumnDef="password">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="direction: rtl"
          class="password-column"
        >
          PASSWORD
        </th>
        <td mat-cell *matCellDef="let row" class="password-column">
          <div style="text-align: right">{{ row.password }}</div>
        </td>
      </ng-container>

      <!-- actions Column -->
      <ng-container matColumnDef="actions" stickyEnd>
        <th
          mat-header-cell
          *matHeaderCellDef
          style="border-left: 2px solid #cccccc"
        ></th>
        <td
          mat-cell
          *matCellDef="let element"
          style="
            text-align: center;
            width: 10px;
            border-left: 2px solid #cccccc;
          "
        >
          <a (click)="onEditUser(element)"
            ><span
              class="material-icons"
              tooltip="Edit User"
              style="cursor: pointer; color: #015cbb"
              >edit</span
            ></a
          >
          &nbsp;
          <a (click)="onDeleteUser(element)"
            ><span
              class="material-icons"
              tooltip="Delete User"
              style="cursor: pointer; color: #015cbb"
              >delete</span
            ></a
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <br />
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
